body{
    background:rgb(255, 255, 255);
}
.saliff{
    color: rgb(150, 236, 63);
    position: relative;
    left: 0px;
    top: 0px
    
}
.sss{
    color: rgb(185, 18, 18);
}
input[type="url"]{
    color: rgb(170, 26, 54);
}